$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-spinner: "\e900";
$icon-loading: "\e900";
$icon-loading-wheel: "\e900";
$icon-busy: "\e900";
$icon-wait: "\e900";
$icon-clear: "\e901";

