<div class="form--wrapper">
  <form
    class="form--content"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit($event)"
  >
    <ng-container *ngIf="enabled">
      <div
        class="form--element"
        app-dynamic-component
        *ngFor="let field of formFields"
        [hasFormGroup]="true"
        [formGroup]="formGroup"
        [data]="formGroup ? field : null"
      ></div>
    </ng-container>

    <div class="form--actions">
      <div class="form--actions--submit">
        <app-button
          [type]="submitBtn"
          [disabled]="formGroup.invalid || forceDisabled"
        >
          {{ submitText | translate }}
        </app-button>
      </div>
    </div>
  </form>
</div>
